$main_font: 'robotoregular';
$main_color: #212121;
$second_color: #f46a35;

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header_container{
    margin: auto;
    max-width: 1200px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 20px;
    .header_container_left{
        display: flex;
        gap: 29px;
        margin-left: 24px;
        .logo{
            display: flex;
        }
        .nav_list{
            display: flex;
            gap: 37px;
            li{
                a{
                    font-family: $main_font;
                    font-size: 14px;
                    line-height: 143%;
                    letter-spacing: 0.02em;
                    color: $main_color;
                }
                svg{
                    margin-left: 8px;
                    width: 13px;
                    height: 9px;
                    fill: none;
                    transition: transform 0.4s;
                    path{
                        fill: black;
                        stroke: black;
                        stroke-width: 1.92381;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                    }
                }
                &:hover{
                    a{
                        color: $second_color;
                    }
                    svg{
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    .header_container_right{
        display: flex;
        gap: 30px;
        align-items: center;
        margin-right: 24px;
        a{
            font-family: $main_font;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.01em;
            color: $main_color;
            &:last-of-type{
                background: $second_color;
                border: 1px solid $second_color;
                border-radius: 10px;
                padding: 7px 26px;
                color: #fff;
                &:hover{
                    color: #f2f2f2;
                    background:  #e06030;
                }
            }
            &:hover{
                color: $second_color;
            }
        }
    }
}
.banner{
    .banner_container{
        margin: auto;
        max-width: 1200px;
        display: flex;
        gap: 56px;
        margin-bottom: 80px;
        .banner_container_left{
            margin-left: 48px;
            article{
                padding-bottom: 76px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-bottom: 33px;
                h1{
                    font-family: $main_font;
                    font-size: 40px;
                    line-height: 130%;
                    letter-spacing: 0.04em;
                    color: $main_color;
                    padding-top: 76px;
                    padding-right: 50px;
                    margin-bottom: 36px;
                }
                a{
                    font-size: 14px;
                    line-height: 157%;
                    color: $main_color;
                    font-family: $main_font;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    padding: 13px 32px;
                    margin-right: 8px;
                    &:hover{
                        background: $second_color;
                        color: #fff;
                        border: 1px solid $second_color;
                    }
                }
            }
            div{
                padding-bottom: 31px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-bottom: 33px;
                &:last-of-type{
                    padding-bottom: 0px;
                    border: none;
                    margin-bottom: 0px;
                }
                h4{
                    font-family: $main_font;
                    color: $main_color;
                    font-size: 16px;
                    line-height: 125%;
                    letter-spacing: 0.02em;
                    margin-bottom: 9px;
                }
                p{
                    font-size: 14px;
                    line-height: 143%;
                    letter-spacing: 0.02em;
                    font-family: $main_font;
                    color: $main_color;
                    margin-bottom: 7px;
                }
                a{
                    display: flex;
                    font-family: $main_font;
                    font-size: 16px;
                    line-height: 150%;
                    color: $second_color;
                    width: 22%;
                    svg{
                        position: relative;
                        top: 5.5px;
                        margin-left: 5px;
                        transition: transform 0.3s;
                    }
                    &:hover{
                        color: #e06030;
                        svg{
                            transform: translateX(4px);
                            path{
                                fill: #e06030;
                            }
                        }
                    }
                }
            }
        }
        .banner_container_right{
            img{
                width: 600px;
                height: 740px;
            }
        }
    }
}
.companies_logos{
    .companies_logos_container{
        margin: auto;
        max-width: 1200px;
        margin-bottom: 208px;
        .owl-stage-outer{
            width: 98%;
            display: flex;
            margin: auto;
            .owl-stage{
                display: flex;
                align-items: center;
            }
        }
        article{
            display: flex;
            justify-content: end;
            img{
                scale: 0.7;
            }
            #sc_lg, #dl_lg, #arb_lg{
                scale: 0.5
            }
            #sc_lg, #dl_lg{
                position: relative;
                bottom: 2px
            }
        }
    }
}
.brex_solutions{
    .brex_solutions_container{
        margin: auto;
        max-width: 1200px;
        h2{
            text-align: center;
            font-family: $main_font;
            color: $main_color;
            font-size: 36px;
            line-height: 144%;
            letter-spacing: 0.04em;
            margin-bottom: 8px;
        }
        p{
            font-family: $main_font;
            color: $main_color;
            text-align: center;
            font-size: 19px;
            line-height: 168%;
            letter-spacing: 0.02em;
            margin-bottom: 64px;
        }
        .solutions_flex{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 72px;
            .solutions_flex_left, .solutions_flex_right{
                position: relative;
                h3, p, a{
                    position: absolute;
                    top: 0;
                }
                a{
                    left: calc(50% - 35px);
                    top: 181px;
                    font-size: 14px;
                    line-height: 157%;
                    color: #fff;
                    font-family: $main_font;
                    &:hover{
                        color: $second_color;
                    }
                }
                h3{
                    left: calc(50% - 142px);
                    font-family: $main_font;
                    font-size: 32px;
                    line-height: 125%;
                    letter-spacing: 0.02em;
                    color: #fff;
                    top: 48px
                }
                p{
                    font-size: 16px;
                    line-height: 150%;
                    color: #fff;
                    letter-spacing: 0.02em;
                    font-family: $main_font;
                    top: 98px;
                    padding: 0px 52px;
                }
            }
            .solutions_flex_right{
                a, p, h3{
                    color: $main_color
                }
                h3{
                    left: calc(50% - 129px)
                }
                p{
                    padding: 0px 65px;
                }
            }
        }
    }
}
.spend_limits{
    background: #f9f9f9;
    .spend_limits_container{
        margin: auto;
        max-width: 1200px;
        padding-top: 95px;
        padding-left: 48px;
        padding-bottom: 80px;
        .limits_flex_top{
            margin-bottom: 60px;
            h3{
                font-family: $main_font;
                color: $main_color;
                font-size: 36px;
                line-height: 144%;
                letter-spacing: 0.04em;
                margin-bottom: 21px;
            }
            p{
                font-size: 20px;
                line-height: 160%;
                letter-spacing: 0.02em;
                font-family: $main_font;
                color: $main_color;
                padding-right: 285px;
                margin-bottom: 32px;
            }
            a{
                border: 1px solid $main_color;
                border-radius: 10px;
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                font-family: $main_font;
                color: $main_color;
                padding: 13px 21px;
                &:hover{
                    color: #fff;
                    background: $second_color;
                    border: 1px solid $second_color;
                }
            }
        }
        .limits_flex_bottom{
            max-width: 1104px;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding-top: 104px;
            h3{
                text-align: center;
                font-family: 'robotomedium';
                color: $main_color;
                font-size: 36px;
                line-height: 144%;
                letter-spacing: 0.04em;
                font-weight: 500;
                margin-bottom: 30px;
            }
            article{
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 120px;
                .limits_flex_left{
                    position: relative;
                    right: -90px;
                    top: 65px;
                    img{
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        margin-bottom: 5px;
                        position: relative;
                        bottom: 2px
                    }
                    h5, p{
                        text-align: center;
                    }
                    h5{
                        font-family: 'robotomedium';
                        color: $main_color;
                        font-size: 14px;
                        line-height: 144%;
                        letter-spacing: 0.03em;
                        font-weight: 500;
                    }
                    p{
                        font-family: 'robotomedium';
                        color: rgba(0, 0, 0, 0.3);
                        font-size: 13px;
                        line-height: 144%;
                        letter-spacing: 0.01em;
                        font-weight: 500;
                    }
                }
                .limits_flex_right{
                    display: flex;
                    ul{
                        padding-right: 60px;
                        li{
                            position: relative;
                            margin-bottom: 12px;
                            a{
                                font-size: 14px;
                                line-height: 160%;
                                letter-spacing: 0.02em;
                                font-family: $main_font;
                                color: $main_color;
                                border: 1px solid rgba(0, 0, 0, 0.1);
                                border-radius: 10px;
                                padding: 13px 0 13px 60px;
                                width: 416px;
                                display: block;
                            }
                            &:hover{
                                a{
                                    border: 1px solid $main_color;
                                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                                }
                            }
                            img{
                                position: absolute;
                                top: 12px;
                                left: 20px
                            }
                        }
                    }
                }
            }
        }
    }
}
.carousel{
    .carousel_container{
        margin: auto;
        max-width: 1200px;
        padding-top: 251px;
        display: flex;
        article{
            text-align: center;
            margin-bottom: 227px;
            position: relative;
            img{
                margin-bottom: 49px;
                width: inherit;
                display: inline;
            }
            h3{
                padding: 0px 250px;
                margin-bottom: 48px;
                font-size: 22px;
                line-height: 109%;
                color: $main_color;
                font-family: $main_font;
            }
            p{
                font-size: 16px;
                line-height: 125%;
                letter-spacing: 0.02em;
                color: $main_color;
                font-family: $main_font;
            }
        }
        .owl-stage-outer{
            width: 70%;
            left: calc(50% - 420px)
        }
        .owl-item{
            left: -169px;
        }
        .owl-nav{
            button{
                &.owl-next, &.owl-prev{
                    position: absolute;
                    top: 340px;
                    &:after{
                        content: "";
                        background-image: url(../images/right_arrow_orange.svg);
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        scale: 1.667;
                        background-size: contain;
                    }
                    &:hover{
                        &:after{
                            background-image: url(../images/right_arrow_orange_hover.svg);
                        }
                    }
                    span{
                        display: none;
                    }
                }
                &.owl-prev{
                    left: 60px;
                    &:after{
                        transform: rotate(180deg);
                    }
                }
                &.owl-next{
                    right: 60px
                }
            }
        }
    }
}
.blog{
    .blog_container{
        margin: auto;
        max-width: 1200px;
        margin-bottom: 81px;
        h2{
            text-align: center;
            font-size: 40px;
            line-height: 130%;
            letter-spacing: 0.04em;
            font-family: $main_font;
            color: $main_color;
            padding: 0px 235px;
            margin-bottom: 79px;
        }
        .blog_bottom_flex{
            padding: 0px 48px;
            display: flex;
            justify-content: space-between;
            article{
                max-width: 325px;
                img{
                    margin-bottom: 26px;
                }
                p{
                    font-size: 20px;
                    line-height: 140%;
                    letter-spacing: 0.02em;
                    font-family: $main_font;
                    color: $main_color;
                    margin-bottom: 22px;
                }
                a{
                    display: flex;
                    font-family: $main_font;
                    font-size: 16px;
                    line-height: 150%;
                    color: $second_color;
                    width: 45%;
                    svg{
                        margin-left: 5px;
                        position: relative;
                        top: 6px;
                        transition: transform 0.3s;
                    }
                    &:hover{
                        color: #e06030;
                        svg{
                            transform: translateX(4px);
                            path{
                                fill: #e06030;
                            }
                        }
                    }
                }
            }
        }
    }
}
.companies_logos2{
    .companies_logos2_container{
        max-width: 1200px;
        margin: auto;
        padding: 0px 0px 0px 49px;
        display: flex;
        margin-bottom: 161px;
        article{
            max-width: 275px;
            padding: 75px 29px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            &:nth-child(3){
                padding: 75px 100px;
                border-right: none;
            }
            &:last-of-type{
                border-left: none;
                padding: 75px 82px;
            }
        }
    }
}
.banner_bottom{
    background: #f9f9f9;
    .banner_bottom_container{
        max-width: 1200px;
        margin: auto;
        padding: 32px 48px;
        display: flex;
        .banner_bottom_left{
            padding-top: 110px;
            h2{
                font-size: 40px;
                line-height: 130%;
                letter-spacing: 0.04em;
                font-family: $main_font;
                color: $main_color;
                padding-right: 90px;
                margin-bottom: 27px;
            }
            p{
                font-size: 20px;
                line-height: 160%;
                letter-spacing: 0.02em;
                font-family: $main_font;
                color: $main_color;
                margin-bottom: 33px;
                padding-right: 110px;
            }
            a{
                font-size: 14px;
                line-height: 157%;
                color: $main_color;
                font-family: $main_font;
                border: 1px solid $main_color;
                border-radius: 10px;
                padding: 13px 32px;
                margin-right: 8px;
                &:hover{
                    color: #fff;
                    border: 1px solid $second_color;
                    background: $second_color;
                }
            }

        }
        .banner_bottom_right{
            img{
                position: relative;
                left: 20px
            }
        }
    }
}
footer{
    background: #171717;
    .footer_container{
        margin: auto;
        max-width: 1200px;

        padding: 122px 0px 0px 48px;
        .footer_top_flex{
            display: flex;
            margin-bottom: 97px;
            article{
                margin-right: 200px;
                &:first-of-type{
                    margin-right: 142px;
                }
                h4{
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.02em;
                    color: #fff;
                    font-family: $main_font;
                    margin-bottom: 7px;
                }
                ul{
                    li{
                        min-width: 130px;
                        margin-bottom: 8px;
                        &:last-of-type{
                            margin-bottom: 0px;
                        }
                        a{
                            font-size: 14px;
                            line-height: 157%;
                            color: #bcbdbd;
                            font-family: $main_font;
                        }
                        &:hover{
                            a{
                                color: $second_color
                            }
                        }
                    }
                }
            }
        }
        .footer_mid_flex{
            display: flex;
            gap: 192px;
            margin-bottom: 131px;
            align-items: center;
            .mid_left, .mid_right{
                display: flex;
                gap: 24px;
            }
            .mid_left{
                a{
                    &:hover{
                        svg{
                            path{
                                fill: $second_color;
                            }
                        }
                    }
                }
            }
        }
        .footer_bottom_flex{
            padding-bottom: 58px;
            p, span{
                font-size: 12px;
                line-height: 133%;
                letter-spacing: 0.02em;
                color: #bcbdbd;
                font-family: $main_font;
                a{
                    text-decoration: underline;
                    color: #bcbdbd;
                    &:hover{
                        color: #8b8c8c;
                    }
                }
            }
            p{
                margin-bottom: 9px;
            }
            span{
                display: block;
                margin-bottom: 47px;
                color: #fff;
            }
        }
    }
}